<% if (rol=="ADMIN" ) { %>
    <%- include('./partials/_header'); %>
<% } %>

<% if (rol=="COORDINADOR" ) { %>
    <%- include('./partials/_header_coordinador'); %>
<% } %>


                        <div class="container mt-4">
                            <h1>REPORTE DIARIO DE <%= today %>
                            </h1>
                            <br>
                            <div class="row">
                                <div class="col-md-7">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <td>SEDE</td>
                                                <td>Usuarios atendidos</td>
                                                <td>Expedientes iniciados</td>
                                                <td>Acuerdos Reparatorios</td>
                                                <td>Sesiones conjuntas</td>
                                                <td>Acciones</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (reportes) { %>
                                                <% for(var i=0; i < reportes.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <%= reportes[i].nombre %>
                                                        </td>
                                                        <td>
                                                            <%= reportes[i].usuarios_atendidos %>
                                                        </td>
                                                        <td>
                                                            <%= reportes[i].expedientes_iniciados %>
                                                        </td>
                                                        <td>
                                                            <%= reportes[i].acuerdos_reparatorios %>
                                                        </td>
                                                        <td>
                                                            <%= reportes[i].sesiones_conjuntas %>
                                                        </td>
                                                        <td>
                                                            <div class="btn-group" role="group">
                                                                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Acciones
                                                                </button>
                                                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                                    <% if (rol=="ADMIN" ) { %>
                                                                    <a class="dropdown-item" href="reportes/delete/<%= reportes[i].id %>">Eliminar</a>
                                                                    <% } %>
                                                                    <a class="dropdown-item" href="reportes/update/<%= reportes[i].id %>">Actualizar</a>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <% } %>
                                        </tbody>
                                        <tfoot>
                                            <td>Totales</td>
                                            <td>
                                                <%= t_ua %>
                                            </td>
                                            <td>
                                                <%= t_ei %>
                                            </td>
                                            <td>
                                                <%= t_ar %>
                                            </td>
                                            <td>
                                                <%= t_sc %>
                                            </td>

                                        </tfoot>
                                    </table>
                                    <div class="card">
                                        <div class="card-body">
                                            <% for(var i=0; i < reportes.length; i++) { %>
                                                <h5><%= reportes[i].nombre %></h5>
                                                <p>Usarios Atendidos: <%= reportes[i].usuarios_atendidos %></p>
                                                <p>Expedientes iniciados: <%= reportes[i].expedientes_iniciados %></p>
                                                <p>Acuerdos Reparatorios: <%= reportes[i].acuerdos_reparatorios %></p>
                                                <p>Sesiones conjuntas: <%= reportes[i].sesiones_conjuntas %></p>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                REPORTE DE SEDE
                                            </h5><br>
                                            <form action="/reportes/add" method="POST">
                                                <div class="form-group">
                                                    <% for(var i=0; i < sedes.length; i++) { %>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="id_sede"
                                                                id="inlineRadio<%=sedes[i].id_sede%>"
                                                                value="<%=sedes[i].id_sede%>" checked>
                                                            <label class="form-check-label"
                                                                for="inlineRadio<%=sedes[i].id_sede%>">
                                                                <%=sedes[i].nombre%>
                                                            </label>
                                                        </div>
                                                        <% } %>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <input type="number" name="usuarios_atendidos"
                                                        placeholder="Usuarios atendidos" class="form-control" autofocus>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <input type="number" name="expedientes_iniciados"
                                                        placeholder="Expedientes iniciados" class="form-control"
                                                        autofocus>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <input type="number" name="acuerdos_reparatorios"
                                                        placeholder="Acuerdos Reparatorios" class="form-control">
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <input type="number" name="sesiones_conjuntas"
                                                        placeholder="Sesiones conjuntas" class="form-control">
                                                </div>
                                                <br>

                                                <button type="submit" class="btn btn-primary">
                                                    GUARDAR
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <% if (rol=="ADMIN" ) { %>
                                    <br>
                                    <div class="col-md-7">
                                        <h1>Historial de Reportes</h1>
                                        <br>
                                        <br>
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    FORMULARIO DE BUSQUEDA
                                                </h5><br>
                                                <form action="/historial" method="get">
                                                    <div class="form-group">
                                                        <label for="example-date-input">FECHA INICIO</label>
                                                        <input class="form-control" type="date" name="Initialdate" value = "" id="Initialdate" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="example-date-input">FECHA FIN</label>
                                                        <input class="form-control" type="date" name="Finaldate" value = "" id="Finaldate">
                                                    </div>
                                                    <br>
                                                    <label for="example-date-input">SEDE</label>
                                                    <div class="form-group">
                                                        <% for(var i=0; i < sedes.length; i++) { %>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="id_sede"
                                                                    id="inlineRadio<%=sedes[i].id_sede%>"
                                                                    value="<%=sedes[i].id_sede%>" checked>
                                                                <label class="form-check-label"
                                                                    for="inlineRadio<%=sedes[i].id_sede%>">
                                                                    <%=sedes[i].nombre%>
                                                                </label>
                                                            </div>
                                                            <% } %>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">
                                                        BUSCAR
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <% } %>

                            </div>
                        </div>

                        <%- include('./partials/_footer'); %>