<%- include('./partials/_header'); %>
<% if (signupMessage != "") { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= signupMessage %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<% } %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Nombre</td>
                            <td>Apellidos</td>
                            <td>Numero</td>
                            <td>Acciones</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for(var i=0; i < data.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= (i + 1) %>
                                    </td>
                                    <td>
                                        <%= data[i].nombre %>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/register" method="POST">
                            <div class="form-group">
                                <input type="text" name="nombre" placeholder="Nombre" class="form-control" autofocus>
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="text" name="username" placeholder="Usuario" class="form-control">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="password" class="form-control">
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rol"
                                        id="inlineRadio1" value="ADMIN">
                                    <label class="form-check-label" for="inlineRadio1">ADMIN</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rol"
                                        id="inlineRadio2" value="COORDINADOR">
                                    <label class="form-check-label" for="inlineRadio2">COORDINADOR</label>
                                </div>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">
                                GUARDAR
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/_footer'); %>